.header{
    width: 100%;
    height: 60px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    margin: auto;
}
.search{
    padding-top: 20px;
}

.footer{
 background-color: #333;
    color: white;
    text-align: center;
    padding: 10px ;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}